@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

h1{
  color: hsla(160, 100%, 37%, 1);
  font-size: 2rem;
}

footer {
  background-color: hsla(160, 100%, 37%, 1);
  color: black;
  padding: 1rem;
  text-align: center;
}

main{
  padding-top: 4rem;
}

button {
  background-color: hsla(160, 100%, 37%, 1);
  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  width: 72px;

}

button:hover {
  background-color: hsla(160, 100%, 37%, 0.8);
  color: white;
}

.tremor {
  border: 1px solid red;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
